{{ define "content" }}

{{ $termName := .Data.Plural }}
{{ $terms := .Data.Terms.ByCount }}
{{ $length := len $terms }}
{{ $type := .Type }}
<!-- Categories Page -->
<div class="section {{.Data.Plural}}">
    <h2 class="title has-text-centered">{{ .Data.Plural | humanize }}</h2>

{{ if and $.Site.Taxonomies.categories (eq $termName "categories") }}
<div class="container">
  <div class="columns is-multiline">
    {{ range $terms }}
    {{ $term := .Term }}
    {{ $pages := .Pages }}
    {{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $type $term) }}
    <div class="column is-half">
      <div class="card" style="box-shadow: 0 0 0;border-radius: 5px;">
        <div class="card-header">
          <a href="{{ .URL }}" class="card-header-title" >{{ $term | humanize}}</a>
        </div>
        <div class="card-content">
          {{ range first 5 $pages }}
          <article class="content">
            <a href="{{ .URL }}" style="color: #3273dc">{{ .Title }}</a>
          </article>
          {{ end }}
        </div>
        {{ if gt (len $pages) 5 }}
        <div class="card-footer">
          <div class="card-footer-item">
            <a href="{{ .Permalink }}" class=""> More  >></a>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
    {{ end }}
  </div>
</div>
 <!-- Tag cloud Page -->
{{ else if and $.Site.Taxonomies.tags (eq $termName "tags") }}
     <div class="tag-cloud-tags">
          {{ range $.Site.Taxonomies.tags.ByCount }}
            {{ if .Name }}
            <a href="/tags/{{ .Name | urlize}}/"> {{ .Name }} <small>({{ .Count }})</small></a>
            {{ end }}
          {{end}}
     </div>

{{ end }}
</div>
{{end }}
