{{ $backSvg := resources.Get "img/icons-background.svg" }}
{{ $headerImg := resources.Get "img/header.jpg" }}

<section style="background-image: url('{{ $headerImg.RelPermalink }}')">
  <div>
    <nav class="navbar " style="background-color: transparent">
      <div class="navbar-end">
<!--        <a class="navbar-item has-text-light" style="background-color: transparent" href="/pricing">Pricing</a>-->
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a style="background-color: transparent; font-size: 14px" class="has-text-white navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
      </div>
    </nav>
  </div>
  <section class="section has-text-centered">
    <p class="has-text-white"
        style="font-size: 48px;font-weight: 600;letter-spacing: 1px"
    >
     {{ .Site.Title }}
    </p>
      <div style="width: 20%; height: 5px; background: #FFFFFF; display: inline-block;"></div>

    <p style="color: rgba(255, 255, 255, 0.54); margin-top: 5px;" id="words">
      Less is More.
    </p>

    <!-- <button class="button is-white is-medium"
            style="color: #507ce8;font-weight: 600;padding: 0 3rem;"
            onclick="randWord()"
    >Rand</button> -->
  </section>
</section>

<!-- <script>
  let data = [
    ' Across the Great Wall we can reach every corner in the world',
    '别抱怨，生活就是一面镜子，照射着我们的内心，我们的内心是什么样，生活就是什么样。',
    'Less is More.',
    '教育的价值在于训练思维，而不在于传授事实。',
    'Keep it Simple.'
  ];

  let rand = function(n, m){
    let c = m-n+1;
    return Math.floor(Math.random() * c + n);
  };

  let ele = document.getElementById('words');
  let len = data.length;
  // ele.innerText = data[rand(0, len-1)];
  ele.innerText = data[1];

  let randWord = function() {
    ele.innerText = data[rand(0, len-1)]
  }
</script> -->

<!--<nav class="navbar is-spaced" style="box-shadow: 0 2px 0 #f5f5f5">-->
<!--    <div class="navbar-brand">-->
<!--      <a class="navbar-item logo" href="/">{{ .Site.Title }}</a>-->
<!--    </div>-->

<!--    <div class="navbar-menu">-->
<!--      <div class="navbar-start">-->
<!--&lt;!&ndash;        <a href="/" class="navbar-item">Index</a>&ndash;&gt;-->
<!--      </div>-->
<!--      <div class="navbar-end">-->
<!--        {{ $currentPage := . }}-->
<!--        {{ range .Site.Menus.main }}-->
<!--        <a class="navbar-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>-->
<!--        {{ end }}-->
<!--      </div>-->
<!--    </div>-->
<!--</nav>-->



<!--<nav class="navbar">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header header-logo">-->
<!--        	<a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>-->
<!--        </div>-->
<!--        <div class="menu navbar-right">-->
<!--                {{ $currentPage := . }}-->
<!--                {{ range .Site.Menus.main }}-->
<!--                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>-->
<!--                {{ end }}-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<!--<nav class="navbar-mobile" id="nav-mobile" style="display: none">-->
<!--     <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <div>  <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></div>-->
<!--            <div class="menu-toggle">-->
<!--                <span></span><span></span><span></span>-->
<!--            </div>-->
<!--        </div>-->

<!--          <div class="menu" id="mobile-menu">-->
<!--                {{ $currentPage := . }}-->
<!--                {{ range .Site.Menus.main }}-->
<!--                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>-->
<!--                {{ end }}-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<nav class="navbar-burger" id="nav-mobile" style="display: none">
     <div class="container">
        <div class="navbar-header">
            <div>  <a href="javascript:void(0);" class="theme-switch"><i class="iconfont icon-xihuan"></i></a>&nbsp;<a href="{{.Site.BaseURL}}">{{ .Site.Title }}</a></div>
            <div class="menu-toggle">
                <span></span><span></span><span></span>
            </div>
        </div>

          <div class="menu" id="mobile-menu">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <a class="menu-item{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
                {{ end }}
        </div>
    </div>
</nav>
