{{ $cdn_url := .Scratch.Get "cdn_url" }}

<div class="section" style="background-color: ; margin-top: 5px">
    <div class="container">
      {{ range (.Paginate .Pages.ByDate.Reverse).Pages }}
      <article class="columns box" style="margin-bottom: 3rem; box-shadow: 0 0 0; position:relative;">
        <div class="column is-11 has-text-centered">
          <a href="{{ .Permalink }}" class="title is-size-5" style="color: #3273dc">{{ .Title }}</a>
        </div>
        <div class="column">
          {{ with .Params.categories -}}
          <span class="tag is-normal">
              {{ range . }}
              {{- $name := . -}}
              {{- with $.Site.GetPage "taxonomy" (printf "categories/%s" $name) | default ($.Site.GetPage "taxonomy" (printf "categories/%s" ($name | urlize))) -}}
                <a class="has-text-black" href="{{ .Permalink }}"> {{ $name }} </a>
              {{ end -}}
              {{ end }}
            </span>
          {{- end }}
        </div>
        <span class="tag is-normal" style="position: absolute;top: 1rem; left: 5px;">
              <time itemprop="datePublished">{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time>
        </span>
      </article>
      {{ end }}
    </div>
    <!--  分页  -->
    {{ partial "paginator.html" . }}
</div>
