{{ define "content" }}
 <!-- printf "%#v" .}} -->
<!-- <div>.CurrentSection: printf "%v" .CurrentSection.Title }}</div> -->
<!-- <div>.CurrentSection:  printf "%v" .CurrentSection.IsHome }}</div> -->
<!-- <div>.FirstSection:  .FirstSection }}</div> -->
<!-- <div>.Site.GetPage "section" "books":  .Site.GetPage "section" "books" }}</div> -->

{{ if eq .CurrentSection.Title "books" }}
    <!-- <div class="container"> -->
        <section class="hero is-primary">
                    <div class="hero-body">
                      <div class="container">
                        <h1 class="title">
                          知识体系
                        </h1>
                        <h2 class="subtitle">
                          梳理成系统的知识
                        </h2>
                      </div>
                    </div>
                </section>

        <div class="container books">
        <div class="columns is-multiline">
        {{ range .Sections }}
            <!-- 下属所有 section，也就是每一本 Book -->

            <!-- <div><a href="{{ .Permalink }}">{{.Title | humanize }}</a></div> -->

        <div class="column is-one-third is-centered">
            <div class="box" style="text-align: center">
              <a style="color: #139ce7" href="{{ .Permalink }}">{{.Title | humanize }}</a>
            </div>
        </div>
        {{ end }}
        </div>
    </div>
{{ else }}
  <div class="container">
  <div class="columns book-desc">
    <div class="column is-one-fifth">
      <div class="box book-toc">
        {{ partial "deep_toc" (dict "root" . "level" 1) }}
      </div>
    </div>
    <div class="column">
      <div class="content box">
        {{ .Content }}
      </div>
    </div>
  </div>
  </div>

{{ end }}
{{end }}
